@charset "UTF-8";@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);.reactOrgChart{margin:2px}.reactOrgChart .orgNodeChildGroup .node{border:1px solid #000;display:inline-block;padding:4px;width:100px}.reactOrgChart .orgNodeChildGroup .nodeCell{text-align:center}.reactOrgChart .orgNodeChildGroup .nodeGroupCell{vertical-align:top}.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle{height:25px;width:50%;border-right:2px solid #000}.reactOrgChart .nodeLineBorderTop{border-top:2px solid #000}.reactOrgChart table{border-collapse:collapse;border:none;margin:0 auto}.reactOrgChart td{padding:0}.reactOrgChart table.nodeLineTable{width:100%}.reactOrgChart table td.nodeCell{width:50%}
/*!
 *
 * Custom
 */
.nodeLineBorderTop, .nodeGroupLineVerticalMiddle{border-color:#bbb !important;} td.nodeGroupCellLines{position:relative}.orgNodeChildGroup tr td.nodeGroupCellLines:after{width:10px;height:10px;position:absolute;left:calc(50% - 6px);width:0;height:0;border-color:#bbb transparent currentcolor;border-style:solid solid none;border-width:6px;bottom:0;content:""}.orgNodeChildGroup tr.nodeCell{padding:0 1rem}.orgNodeChildGroup tr:nth-child(2) td.nodeGroupCellLines:after{display:none}.bold{font-weight:700}.mr10{margin-right:10px}
